<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
</head>
<body>

    {% if error %}
        <h2 style="color:red;">{{ error }}</h2>
    {% else %}
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
            </tr>

            {% for p in products %}
            <tr>
                <td>{{ p.name }}</td>
                <td>{{ p.category }}</td>
                <td>{{ p.price }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

</body>
</html>
